.imgSetting {
  text-align: center !important;
}
.errorNewPost {
  margin-top: 5px !important;
}
.edit {
  margin-left: 10px !important;
}
.tagNewPost {
  margin-top: 10px;
}
.messageError {
  color: red !important;
  margin-top: 5px !important;
}
#hide {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.loader {
  left: 46%;
  top: 35%;
  z-index: 1000;
  position: absolute;
}
.deleteComment{
  float: right;
}
.loader-component-container{
  text-align: center;
}